<div id="content" class="container wrapper">

    <div >
        <div class="tour">
            <div id="feature" class="feature" style="">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <h1>Play Awesome SpongeBob Games!</h1>                    </div>
                    </div>
                </div>
            </div>

            <!-- Top Games -->
            <div class="row">
                <div class="span6 double game dd hidden_android hidden_ios">
                    <div class="overlay">
                        <a href="/game/racing" class="btn btn-primary btn-block btn-large">Play</a>
                    </div>
                    <a href="/game/racing"><img src="/img/img_racing.png" class="logo" alt="Diamond Dash"></a>
                </div>
                <div class="span6">
                    <div class="row">
                        <div class="span6 game pp">
                            <div class="overlay">
                                <a href="/game/farm" class="btn btn-primary btn-block btn-large">Play</a>
                            </div>
                            <a href="/game/farm"><img src="/img/img_themepark.png" class="logo" alt="Pearl’s Peril"></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span6 game ff">
                            <div class="overlay">
                                <a href="/game/world" class="btn btn-primary btn-block btn-large">Play</a>
                            </div>
                            <a href="/game/world"><img src="/img/img_square.png" class="logo" alt="Fantastic Forest"></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bottom Games -->
            <div class="row">

                <div class="span3 game mwios hidden_android hidden_ios">
                    <div class="overlay mwg">
                        <a href="/game/bumpers" class="btn btn-primary btn-block btn-large">Play</a>
                    </div>
                    <a href="/game/bumpers"><img src="/img/img_bumpers.png" class="logo" alt="Monster World"></a>
                </div>

                <div class="span6 game kb">
                    <div class="overlay">
                        <a href="/game/house" class="btn btn-primary btn-block btn-large">Play</a>
                    </div>
                    <a href="/game/house"><img src="/img/img_home.png" class="logo" alt="Kingsbridge"></a>
                </div>

                <div class="span3 game pv hidden_android hidden_ios">
                    <div class="overlay">
                        <a href="/game/kt" class="btn btn-primary btn-block btn-large">Play</a>
                    </div>
                    <a href="/game/kt"><img src="/img/img_tycoon.png" class="logo" alt="Pocket Village"></a>
                </div>

            </div>

            <hr>
            <div class="row">
                <div class="span6">
                    <h2>Popular users</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>name</th>
                            <th>social</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>player1</td>
                            <td>9924</td>
                        </tr>
                        <tr>
                            <td>player36</td>
                            <td>8972</td>
                        </tr>
                        <tr>
                            <td>player96</td>
                            <td>8944</td>
                        </tr>
                        <tr>
                            <td>player67</td>
                            <td>7166</td>
                        </tr>
                        <tr>
                            <td>player20</td>
                            <td>6303</td>
                        </tr>
                        </tbody>
                        </table>
                </div>
                <div class="span6">
                    <h2>Top Gamers</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>name</th>
                            <th>themepark</th>
                            <th>racing</th>
                            <th>bumpers</th>
                            <th>kt</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>player8</td>
                            <td>9937</td>
                            <td>4181</td>
                            <td>5976</td>
                            <td>9084</td>
                        </tr>
                        <tr>
                            <td>player16</td>
                            <td>9855</td>
                            <td>961</td>
                            <td>6092</td>
                            <td>1112</td>
                        </tr>
                        <tr>
                            <td>player60</td>
                            <td>8002</td>
                            <td>2503</td>
                            <td>626</td>
                            <td>3166</td>
                        </tr>
                        <tr>
                            <td>player10</td>
                            <td>7100</td>
                            <td>101</td>
                            <td>5589</td>
                            <td>5787</td>
                        </tr>
                        <tr>
                            <td>player67</td>
                            <td>6229</td>
                            <td>10035</td>
                            <td>3688</td>
                            <td>4771</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>


    </div>
</div>
