<div class="container ">

    <table width="1218" height="1539" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td width="137" height="120">
                &nbsp;
            </td>
            <td width="944" height="120">
                <div class="row">

                    <% if(game != 'racing') {%><div class="span2 gameBanner"><a href="/game/racing" ><img src="/img/webpage_racing.png" /></a></div><% } %>
                    <% if(game != 'bumpers') {%><div class="span2 gameBanner"><a href="/game/bumpers" > <img src="/img/webpage_bumpers.png" /></div></a><% } %>
                    <% if(game != 'house') {%><div class="span2 gameBanner"><a href="/game/house" > <img src="/img/webpage_home.png" /></a></div><% } %>
                    <% if(game != 'kt') {%><div class="span2 gameBanner"><a href="/game/kt" > <img src="/img/webpage_tycoon.png" /></a></div><% } %>
                    <% if(game != 'world') {%><div class="span2 gameBanner"><a href="/game/world" > <img src="/img/webpage_square.png" /></a></div><% } %>
                    <% if(game != 'farm') {%><div class="span2 gameBanner"><a href="/game/farm" > <img src="/img/webpage_themepark.png" /></a></div><% } %>
                </div>
            </td>
            <td width="137" height="120">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="137" height="590">
                &nbsp;
            </td>
            <td width="944" height="590">

                    <div id="unityPlayer">
                    <div class="missing">
                    <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
                    <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
                    </a>
                    </div>
                    </div>

            </td>
            <td width="137" height="590">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="137">
                &nbsp;
            </td>
            <td width="944">
                &nbsp;
            </td>
            <td width="137">
                &nbsp;
            </td>
        </tr>
    </table>

</div>


</div>
