
<a class="pull-left" href="#">
    <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" src="/images/profile/<%=data.get("race") %>/<%=data.get("username") %>.<%=data.get("extension") %>">
</a>
<div class="media-body">
    <h4 class="media-heading"><%= data.get('username') %></h4>
    <span class="badge badge-success"><%= data.get('gamePlayKey')[0] %></span><span class="badge badge-important"><%= data.get('gamePlayKey')[1] %></span><span class="badge badge-info"><%= data.get('gamePlayKey')[2] %></span>
</div>