
<div class="container">
    <!-- start: PAGE HEADER -->



    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>Login </h1>
            </div>

        </div>
    </div>
    <div id="login" class="row">

        <div class="col-lg-12">
            <form id="signinFrm" >
                <div class="clearfix  " id="email_field">
                    <label for="userid">Your userid</label>
                    <div class="input">

                        <input type="text" id="userid" name="userid" value="" placeholder="userid">
                        <span class="help-inline"></span>
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="clearfix  " id="password_field">
                    <label for="password">Password</label>
                    <div class="input">

                        <input type="password" id="password" name="password" value="" placeholder="Password">

                        <span class="help-inline"></span>
                        <span class="help-block"></span>
                    </div>
                </div>
                <button type="submit"  class="btn btn-primary">Login now</button><br>
                <br>
                <!--<a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">Forgot your password?</a>-->


            </form>

        </div>


    </div>


</div>
