
<link rel="stylesheet" href="css/jquery.fileupload-ui.css">
<div class="container">

    <fieldset>
        <legend>Profile <% if(user.get("service_type") == 2) { %><img alt="facebook icon" title="facebook" src="/img/facebook-24x24.png" ><%}%> </legend>


        <p class="text-left">email : <%= user.get("email") %></p>
        <p class="text-left">uid : <%= user.get("uid") %></p>
         <p>&nbsp;</p>
        <div class="row">
            <div  class="span12">

                <img style="width: 128px; height: 128px;" id="profileImage" src="/images/profile/<%=profile.get("race") %>/<%=profile.get("username") %>.<%=profile.get("extension") %>?t=<%=profile.get("profileImageMkTime") %>">

            </div>
        </div>


        <span class="btn btn-success fileinput-button">
             <i class="icon-plus icon-white"></i>
             <span>Select files...</span>
             <input id="fileupload" type="file" name="files[]" multiple>
        </span>
        <br>

        <!-- The global progress bar -->
        <div id="progress" class="progress progress-success progress-striped">
            <div class="bar"></div>
        </div>
        <!-- The container for the uploaded files -->
        <div id="files" class="files"></div>
        <br>

        <form id="profileFrm">
        <div class="control-group ">
            <label>change password </label>
            <input type="text" id="password" type="password" placeholder="password" required>

        </div>

        <div class="control-group ">
            <label>Repeat chosen password</label>
            <input type="text" id="password1" type="password" placeholder="password" required>

        </div>

        <button type="submit" class="btn btn-primary">modify</button>
        </form>

    </fieldset>
    <!-- modal-gallery is the modal dialog used for the image gallery -->
    <div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body"><div class="modal-image"></div></div>
        <div class="modal-footer">
            <a class="btn modal-download" target="_blank">
                <i class="icon-download"></i>
                <span>Download</span>
            </a>
            <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
                <i class="icon-play icon-white"></i>
                <span>Slideshow</span>
            </a>
            <a class="btn btn-info modal-prev">
                <i class="icon-arrow-left icon-white"></i>
                <span>Previous</span>
            </a>
            <a class="btn btn-primary modal-next">
                <span>Next</span>
                <i class="icon-arrow-right icon-white"></i>
            </a>
        </div>
    </div>

 </div>

