<% layout('layout') -%>
<header></header>



<div class="main-container">
    <nav></nav>

    <!-- start: PAGE -->
    <div class="main-content">
        <message></message>
        <main>

        </main>

    </div>
    <!-- end: PAGE -->
</div>
<!-- end: MAIN CONTAINER -->
<!-- start: FOOTER -->


<div class="footer clearfix">
    <div class="footer-inner">
        2013 &copy; monoshift.
    </div>
    <div class="footer-items">
        <span class="go-top"><i class="clip-chevron-up"></i></span>
    </div>
</div>