<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#" >

<head>
    <meta charset="utf-8">
    <title>MONOSHIFT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <script>
        var CFG = {};
        <% if (session_id != '') { %>
        CFG.session_id ='<%=session_id%>';
        CFG.id =<%=id%>;
        CFG.isLogin = true;

        <%} else { %>
        CFG.isLogin = false;
        <% } %>

        var require = undefined;
        var production = <%= production %>;
    </script>


    <% if (production == 'true') { %>

    <!--<link type="text/css" rel="stylesheet" href="/css/bootstrap.css">-->
    <!--<link type="text/css" rel="stylesheet" href="/css/bootstrap-modal.css">-->
    <!--<link type="text/css" rel="stylesheet" href="/css/game.css">-->
    <!--<script data-main="js/app/config/config.js" src="js/libs/require.js"></script>-->
    <!--<script>-->
    <!--var checkTime =  setInterval(function() {-->
    <!--if (require !== undefined) {-->
    <!--require(['/js/DesktopInit.min.js']);-->
    <!--clearInterval(checkTime);-->
    <!--}-->
    <!--},200);-->
    <!---->
    <!--</script>-->
    <script  src="/js/libs/loadScript.js"></script>
    <% } else { %>
    <script  src="/js/libs/loadDevScript.js"></script>
    <% } %>


    <!-- Le styles -->

    <% if (production == 'false') { %>
    <!--<link type="text/css" rel="stylesheet" href="/css/bootstrap.css">-->
    <!--<link type="text/css" rel="stylesheet" href="/css/bootstrap-modal.css">-->
    <!--<link type="text/css" rel="stylesheet" href="/css/game.css">-->
    <!--<script data-main="js/app/config/config.js" src="js/libs/require.js"></script>-->

    <% }%>

</head>

<body>
<%- body %>
</body>
</html>