
    <!-- start: SIDEBAR -->
    <div class="main-navigation navbar-collapse collapse">
        <!-- start: MAIN MENU TOGGLER BUTTON -->
        <div class="navigation-toggler">
            <i class="clip-chevron-left"></i>
            <i class="clip-chevron-right"></i>
        </div>
        <!-- end: MAIN MENU TOGGLER BUTTON -->
        <!-- start: MAIN NAVIGATION MENU -->
        <ul class="main-navigation-menu">
            <li >
                <a href="/"><i class="clip-home-3"></i>
                    <span class="title"> Main </span><span class="selected"></span>
                </a>
            </li>
            <li >
                <a href="/who"><i class="clip-home-3"></i>
                    <span class="title"> WHO WE ARE </span><span class="selected"></span>
                </a>
            </li>
            <li >
                <a href="/portfolio"><i class="clip-home-3"></i>
                    <span class="title"> OUR PORTFOLIO </span><span class="selected"></span>
                </a>
            </li>
        </ul>
        <!-- end: MAIN NAVIGATION MENU -->
    </div>
