<div class="container">


<div class="row">
    <div class="span6">
        <h1>Sign up</h1>
    </div>
</div>


<div  class="row">
    <div class="span3">
        <form id="signfrm">
            <fieldset>

                <div class="control-group ">
                <label>Your email</label>
                <input type="text" id="email" placeholder="email" required>
                <span class="help-block"><small>Required</small></span>
                </div>


                <div class="control-group ">
                    <label>Your username</label>
                    <input type="text" id="username" placeholder="username" required>
                    <span class="help-block"><small>Required</small></span>
                </div>

                <div class="control-group">
                    <lable>race</lable>
                    </br>
                    <select id="race">
                        <option value="0">sponge</option>
                        <option value="1">starfish</option>
                        <option value="2">squid</option>
                        <!---->
                        <!--<option value="krab">krab</option>-->
                        <!--<option value="sponge">sponge</option>-->
                        <!--<option value="squid">squid</option>-->
                        <!--<option value="starfish">starfish</option>-->
                    </select>

                </div>
                <div class="control-group ">
                <label>Password</label>
                <input type="password" id="password" type="password" placeholder="password" required>
                <span class="help-block"><small>Minimum length: 5, Required</small></span>
                </div>

                <div class="control-group ">
                <label>Repeat chosen password</label>
                <input type="password" id="password1" type="password" placeholder="password" required>
                <!--<span class="help-block"><small>Minimum length is 5</small></span>-->
                <span class="help-block"><small>Minimum length: 5, Required</small></span>
                 </div>

                <button type="submit" class="btn btn-primary">Sign up, now</button>

            </fieldset>
        </form>
    </div>
    <div class="progress progress-striped active span4 " style="display:none">
        <div class="bar" style="width: 30%;"></div>
    </div>

</div>
</div>