<link rel="stylesheet" href="css/jquery.fileupload-ui.css">
<div class="container ">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>OUR PORTFOLIO</h1>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12 " id="portfolioHeader">
            <!-- start: TEXT FIELDS PANEL -->

            <!-- end: TEXT FIELDS PANEL -->
        </div>
    </div>





    <div class="row">
        <div class="col-md-12" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external-link"></i>
                    Projects
                </div>

                <div class="panel-body">

                <form role="form" class="form-horizontal">
                    <div class="tabbable panel-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#protfolio-body">
                                    기본정보
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#panel_final">
                                    Final output
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#panel_grid">
                                    Grid
                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#panel_color">
                                    Color
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <div id="panel_color" class="tab-pane">


                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        Key Color
                                    </label>
                                    <div id="mainKeyColor"></div>

                                    <div class="col-sm-1"> <a class="btn btn-blue col-sm-offset-5 add_color"><i class="fa fa-plus"></i> color  추가</a></div>


                                </div>
                                <hr>

                            </div>


                            <div id="panel_final" class="tab-pane">
                                <div id="finaloutput"></div>
                                <div class="form-group">
                                    <a class="btn btn-blue col-sm-offset-5 final_add_field"><i class="fa fa-plus"></i> Final output 추가</a>
                                </div>
                                <hr>
                            </div>
                            <div id="panel_grid" class="tab-pane">
                                <div id="griditem"></div>
                                <div class="form-group">
                                    <a class="btn btn-blue col-sm-offset-5 add_grid"><i class="fa fa-plus"></i> Grid  추가</a>
                                </div>
                                <hr>
                            </div>


                            <div id="protfolio-body" class="tab-pane active">
                                <div class="panel-body">위 프로젝트를 먼저 선택해주세요</div>
                            </div>












                        </div>
                    </div>


                </form>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <a class="btn btn-blue col-sm-offset-5 add_type"><i class="fa fa-plus"></i> Type 추가</a>
        </div>
    </div>


    <div class="row" id="typeBody"></div>









</div>
