
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-external-link-square"></i>
        Projects

    </div>
    <div class="panel-body">

            <div class="form-group">
                <label class="col-sm-2 control-label">
                   구분
                </label>

                <select class=" form-control search-select col-sm-2 ">
                    <option value="프로모션">프로모션</option>

                </select>

            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    프로젝트명
                </label>


                <div id="project_search"  ></div>

            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-1">
                  <div class="col-sm-2">  <button  class="btn btn-primary project-edit pull-right">수정하기</button> </div>
                    <div class="col-sm-2">  <button  class="btn btn-primary project-write pull-right">새로등록</button></div>
                </div>


            </div>


    </div>
</div>
